.DS_Store
.Python
.idea/
.cache/
__pycache__/
*.log
venv/
aqua_45/
config_mylo
deply/jbooks.yaml
deploy/cluster_role.yaml
deploy/register_controller.yaml
deploy/Dockerfile
deploy/certs/*.crt
deploy/certs/*.key
deploy/certs/*.srl
deploy/certs/*.csr
deploy/certs/*.conf
deploy/*.yaml
secret.yaml
config_local.yaml

